<div class="sidebar position-fixed h-100 top-0 start-0 d-none d-lg-block bg-main-color">
    <p class="fs-3 ps-3 pt-4 text-white-color">chemistry</p>
    <nav class="h-100 flex-column align-items-stretch border-end">
        <nav class="nav nav-pills flex-column">
            <a class="nav-link text-white-color" href="/admin/grades">students</a>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link text-white-color ms-3 my-1" href="/admin/students/"></a>
                <a class="nav-link text-white-color ms-3 my-1" href="#item-1-2">Item 1-2</a>
            </nav>
            <a class="nav-link text-white-color" href="#item-2">Item 2</a>
            <a class="nav-link text-white-color" href="#item-3">Item 3</a>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link text-white-color ms-3 my-1" href="#item-3-1">Item 3-1</a>
                <a class="nav-link text-white-color ms-3 my-1" href="#item-3-2">Item 3-2</a>
            </nav>
        </nav>
    </nav>
</div>